django
requests
google-auth
google-api-python-client
google-auth-oauthlib
channels
channels_redis
daphne
openai
markdown
django-filter
django-extensions
django-debug-toolbar
beautifulsoup4
whitenoise
